annotated-doc
openai
annotated-types
anyio
bidict
certifi
charset-normalizer
click
fastapi
fastapi-socketio
h11
idna
Jinja2
MarkupSafe
pillow
psycopg2-binary
pydantic
pydantic_core
python-dotenv
python-engineio
python-multipart
python-socketio
requests
simple-websocket
starlette
typing-inspection
typing_extensions
unicorn
urllib3
uvicorn
wsproto